<div id="mbbx-multivendor">
    <h3 class="text-left">{{multivendor_title}}:</h3>

    <div>
        <label for="mbbx-multivendor">{{multivendor_label}}</label>
        <input type="text" name="mbbx-multivendor" id="mbbx-vendor-uid" value="{{vendor_uid}}">
        <p>{{multivendor_desc}}</p>
    </div>
</div>

<style>
    #mbbx-multivendor div {
        padding: 20px;
    }
    
    #mbbx-multivendor div label {
      display: block;
      margin-bottom: 5px;
    }

    #mbbx-multivendor div input[type="text"] {
      width: 50%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 8px;
    }

    #mbbx-multivendor div p {
      margin-top: 5px;
    }
</style>