
{# Payment button #}
<a name="mobbex-checkout" id="mobbex-payment" class="btn btn-primary pull-right">{{ textTitle }}</a>

{# Add embed script or redirect form #}
{% if embed %}
    <div id='mbbx-container'></div>
    <script type="text/javascript" src="https://res.mobbex.com/js/embed/mobbex.embed@{{ embedVersion }}.js"></script>
{% else %}
    <form id="mbbx_redirect_form" name="mobbexform" method="get"></form>
{% endif %}

{# Send mobbex data to javascript #}
<script>
    var mobbexData = {{ mobbexData }};
    var mobbexEmbed = {{ (embed) ? 1 : 0 }};
</script>

<script src="catalog/view/javascript/mobbex/payment.js"></script>