<div class="panel-heading alert alert-danger"><i class="fa fa-exclamation-circle"></i>{{ dni_alert }}</div>
<a href="{{ link }}" name="dni-required" class="btn btn-primary pull-right">{{ dni_required }}</a>